
/* {{ class-id }} card */

#i-{{ class-id }} {
	display: none;
}

#i-info-{{ class-id }} {
	display: true;
}

#i-close-{{ class-id }} {
	display: none;
}

#accordion-{{ class-id }} {
	display: true;
}

#desc-{{ class-id }} {
	display: none;
}

#card-{{ class-id }} {
	background: $light-color;
}