/* SCSS for scratch card */

#i-scratch {
	display: none;
}

#i-info-scratch {
	display: true;
}

#i-close-scratch {
	display: none;
}

#accordion-scratch {
	display: true;
}

#desc-scratch {
	display: none;
}

#card-scratch {
	background: $light-color;
}

/* SCSS for scratchjr card */

#i-scratchjr {
	display: none;
}

#i-info-scratchjr {
	display: true;
}

#i-close-scratchjr {
	display: none;
}

#accordion-scratchjr {
	display: true;
}

#desc-scratchjr {
	display: none;
}

#card-scratchjr {
	background: $light-color;
}

/* SCSS for website card */

#i-website {
	display: none;
}

#i-info-website {
	display: true;
}

#i-close-website {
	display: none;
}

#accordion-website {
	display: true;
}

#desc-website {
	display: none;
}

#card-website {
	background: $light-color;
}

